<!DOCTYPE html>
<html>
<head>
	<title>DPS</title>

	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">

	<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
</head>
<body>

	<div id="app">
		<fieldset>
			<legend>Endpoint:</legend>
			<p>Path: <input type="text" v-model="endpoint"></p>
			<label>Entities</label>
			<v-select :options="entities" v-model="endpointEntities" 
				multiple taggable></v-select>
		</fieldset>

		<fieldset>
			<legend>HTTP Methods</legend>
			<label><input type="checkbox">GET</label>
			<label><input type="checkbox">POST</label>
		</fieldset>
		
		<fieldset>
			<legend>Query Params</legend>
		</fieldset>

		<fieldset>
			<legend>Request Headers</legend>
		</fieldset>

		<fieldset>
			<legend>Response Body</legend>
		</fieldset>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/vue-select@latest"></script>

	<script type="text/javascript">
		Vue.component('v-select', VueSelect.VueSelect);

		var app = new Vue({
  			el: '#app',
  			data: {
    			endpoint: '',
    			endpointEntities: [],
    			entities: ['doctor', 'patient', 'person', 'symptoms', 'diagnosis', 'appointment']
  			},
  			watch: {
  				endpoint: function (n, o) {
  					var tokens = n.split('/');
  					if (tokens.length>0) {
	  					var selected = [];
	  					for (var i=0; i<=tokens.length; i++) {
	  						if (this.entities.indexOf(tokens[i])>-1) {
	  							selected.push(tokens[i]);
	  						}
	  					}
	  					this.endpointEntities = selected;
  					}
  				}
  			}
		});
	</script>

</body>
</html>